*.pdf
*.png
Figures/.Rhistory
R Scripts/.Rhistory
*.xlsx
Data/_tdm/.Rhistory
Data/_tdm
Data/Brandenburg/.Rhistory
R Scripts/stopwords-de/
*.part
Data/Bavaria/.Rhistory
Data/RLP/.Rhistory
Data/Bavaria/to convert/.Rhistory
*.svg
